@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

@layer components {
  .App {
    @apply h-[90vh] w-full overflow-hidden;
  }

  .map-container {
    @apply h-[90%] w-full;
  }

  /* HTML marker styles */
  .name-tag {
    @apply rounded-lg text-white text-sm px-4 py-2 relative;
    background-color: #146285;
    transform: translateY(-8px);
  }

  .name-tag::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 0);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #146285;
  }

  .stack-view {
    @apply absolute w-full bg-white p-4 rounded-lg shadow-md max-h-[80vh] overflow-y-auto;
  }

  .modal-dialog {
    @apply hidden;
  }

  .blurEffect {
    @apply blur-sm pointer-events-none;
  }
}